div{
    color: aqua;
    background-color: brown;
    height: 50%;
    width: 50%;
}
#MMA{
    color: red;
    background-color: black;
    border: 50px solid aqua;
    margin: 40px;
    padding: 40px;

}